.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  margin-top: 20px;
}
.btn{
margin: 20px;
}
.preview{
  margin-top: 20px;
  border: 2px solid grey;
}